body
{
    display: flex;
    justify-content: space-between;
}

h1 /*The Cookbook of ADONIS!*/
{
    font-size: 40px;
    
}

.content-container
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: blue;
    text-align: center;
}

.Adonis-pic
{
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}

.category-container
{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    border: solid 4px yellow;
}

.category-list
{
    margin: 0;
    padding: 0;
    list-style: none;
}

h3 /*Select a category*/
{
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0;
}

li
{
    font-weight: 700;
    margin-top: 8px;
}

.left-ribbon,
.right-ribbon
{
    display: flex;
    max-width: 200px;
    min-height: 100vh;
    flex-grow: 1;
    flex-shrink: 0;
    background: green;
    color: green;
}