body
{
    display: flex;
    justify-content: center;
}
.content-container
{
    display: flex;
    flex-direction: column;
    background: rgb(6, 174, 230);
}
.eggs
{
    align-self: center;
    max-width: 50%;
    max-height: 50%;
}
.food
{
    display: flex;
    flex-wrap: wrap;
    background: rgb(37, 238, 37);
}

.left-ribbon,
.right-ribbon
{
    display: flex;
    max-width: 300px;
    min-height: 100vh;
    flex-grow: 1;
    background: #500;
    color: #500;
}